<html lang="ko"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>StoryBird</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>






<!-- 시작 -->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="598px" style="border:solid 1px #ddd;">
	<tbody>
	<tr>
		<td style="border-bottom:1px dashed #ddd; padding:60px 0 40px; text-align:center; line-height:0;">
			<img src="http://183.111.234.51:9002/image/logo/logo.jpg" alt="StoryBird" style="width:200px; height:40px;">
			<!-- 본서버 적용후 해당 url로 변경 -->
			<p style="margin:0; padding:10px 0 0; font-size:16px; color:#000; font-weight:bold; line-height:20px;">StoryBird 이메일 인증</p>
		</td>
	</tr>
	<tr>
		<td style="padding:40px 0 90px; text-align:center; line-height:0;">
			<p style="margin:0; padding:0 0 20px; font-size:20px; color:#000; font-weight:bold; line-height:20px;">
				인증번호 : <span style="color:#FF004D;">%change</span>
			</p>
			<p style="margin:0; font-size:13px; font-weight:normal; color:#000; line-height:20px;">
				안녕하세요.<br>
				StoryBird를 이용해 주셔서 감사합니다.<br>
				이 메일은 StoryBird 이메일 인증을 위한 메일입니다.
			</p>
		</td>
	</tr>
	<tr>
		<td style="padding:40px 0; background:#f8f8f8; line-height:0;">
			<p style="margin:0; padding-bottom:20px; line-height:20px; font-size:11px; color:#666; text-align:center;">
				본 메일은 발신 전용 메일로 회신을 하셔도 답변이 되지 않습니다.<br>
				이용 중 도움이 필요하시다면 <strong style="color:#000;">고객센터 : 070-8825-5004</strong> 나<br>
				<strong style="color:#000;">contact@ideaconcert.com</strong>으로 문의해 주세요.
			</p>

			<p style="margin:0; padding:0 20px 6px; line-height:20px; font-size:11px; color:#666; text-align:center;">
				<strong>(주)아이디어 콘서트</strong> | <strong>대표</strong> : 전달용<br>
				<strong>사업자등록번호</strong> : 338-88-00131 | <strong>통신판매업신고번호</strong> : 제2017-성남분당-0029호<br>
				<strong>주소</strong> : 경기도 성남시 수정구 대왕판교로 815, 4층(판교창조경제밸리 기업지원허브)<br>
				<strong>고객센터</strong> : 070-8825-5004 | <strong>메일</strong> : contact@ideaconcert.com
			</p>

			<p style="margin:0; line-height:20px; font-size:11px; color:#666; text-align:center;">
				ⓒ IDEACONCERT Co., Ltd. All Right Reserved.
			</p>
		</td>
	</tr>
	</tbody>
</table>
<!-- 종료 -->

















</body></html>